@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
    @apply text-3xl font-bold 
}
.sub-title {
    @apply text-sm font-semibold text-white
}
.bg-img {
    background-image: url("../src/assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-size: contain; */
}
.active {
    @apply bg-blue-300
}
/* .bg-mobile {
    background-image: url("../src/assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 160px;
} */
.selected{
    border: 2px solid darkblue;
}